{% extends "layout.html" %}

{% block body %}
        <form action="" method="POST">
            {{ menu.hidden_tag() }}
            {{ menu.month(class="custom-select", id="month") }}
            <button class="btn btn-success" type="submit">OK</button> 
        </form>

    {{ test_data }}

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Категория</td>
                <th scope="col">Факт</td>
            </tr>
        </thead>
    </table>
    <div class="list-group" id="list-subcategory" role="tablist">
    {% for value in data %}
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-{{value['parent_id']}}" role="tab">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">{{value['category_name']}}</div>
                    <div class="col-lg-3">{{value['amount']}}</div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>

    <div class="tab-content">
        {% for value in data %}
        <div class="tab-pane fade" id="list-{{value['parent_id']}}" role="tabpanel">Data ID {{value['parent_id']}}</div>
        {% endfor %}
    </div>

{% endblock %}