{% extends "layout.html" %}

{% block body %}
        <form action="" method="POST">
            {{ menu.hidden_tag() }}
            {{ menu.month(class="custom-select", id="month") }}
            <button class="btn btn-success" type="submit">OK</button> 
        </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Категория</td>
                <th scope="col">Факт</td>
            </tr>
        </thead>
    </table>
    <div class="list-group" id="list-subcategory" role="tablist">
    {% for value in data.categories %}
        <a class="list-group-item list-group-item-action" id="heading-{{value['parent_id']}}" data-toggle="collapse" data-target="#list-{{value['parent_id']}}" aria-expanded="true" aria-controls="list-{{value['parent_id']}}">    
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">{{value['name']}}</div>
                    <div class="col-lg-3">{{value['amount']}}</div>
                </div>
            </div>
        </a>
        <div id="list-{{value['parent_id']}}" class="collapse" aria-labelledby="heading-{{value['parent_id']}}" data-parent="#accordion">
            <ul class="list-group">
                {% for value in value.detailAmount %}
                <li class="list-group-item list-group-item-light small">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">{{value['name']}}</div>
                            <div class="col-lg-3">{{value['amount']}}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

{% endblock %}