{% extends "layout.html" %}

{% block body %}
        <form action="" method="POST">
            {{ menu.hidden_tag() }}
            {{ menu.month(class="custom-select", id="month") }}
            <button class="btn btn-success" type="submit">OK</button> 
        </form>

    {{ test_data }}

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Категория</td>
                <th scope="col">Факт</td>
            </tr>
        </thead>
        <tbody>
        {% for value in data %}
            <tr>
                <td>{{value}}</td>
                <td>{{value}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}