{% extends "layout.html" %}
{% block body %}
<div class="row shadow bg-white rounded">
    <div class="col-12 col-md-3 col-xl-5 pt-3 pb-3">
        <div class="card"> 
            <div class="card-header">
                Cash
            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">Alex's wallet</li>
                    <li class="list-group-item">Alice's wallet</li>
            </ul>
        </div>    
    </div>
    <div class="col-12 col-md-3 col-xl-7 pt-3 pb-3">  
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active text-danger" href="#">Добавить расходы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#">Добавить доходы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#">Переводы</a>
                    </li>
                </ul>
            </div>    
            <div class="card-body"> 
                <form action="" method="POST" name="add-exp-form">
                        {{ add_exp_form.hidden_tag() }}
                        <div class="form-row align-items-end">
                            <div class="form-group col-sm-9">
                                <label class="font-weight-600" for="inlineFormInputAccount">Счет</label>
                                {{ add_exp_form.account(class="fw-input form-control mb-2 mr-sm-2", id="inlineFormInputAccount", placeholder="Счет") }}
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="sr-only" for="inlineFormInputSumUAH">SumUAH</label>
                                 {{ add_exp_form.sum_uah(class="fw-input form-control mb-2 mr-sm-2", id="inlineFormInputSumUAH", placeholder="UAH", required="required") }}    
                            </div>
                        </div>
                        <div class="form-row align-items-end">
                                <div class="col-sm-9 mb-1">
                                    <label class="font-weight-600" for="сategory">Категория</label>
                                    {{ add_exp_form.category(class="fw-input form-control mb-2 mr-sm-2", placeholder="Выбрать категорию или добавить новую") }}
                                </div>
                                <div class="col-sm-3 mb-1">
                                    <label class="sr-only" for="inlineFormInputDate">Date</label>
                                    {{ add_exp_form.date(class="fw-input form-control mb-2 mr-sm-2", id="inlineFormInputDate", placeholder="Дата", autocomplete="off") }}
                                </div>
                            <div class="col-sm-9">
                                {{ add_exp_form.categorydes(class="fw-input form-control mb-2 mr-sm-2", placeholder="Описание")}}
                            </div>
                            <div class="col-sm-3">
                                {{ add_exp_form.submit(class="fw-input w-100 btn btn-primary mb-2", value="Добавить")}}
                            </div>
                        </div>
                </form>
            </div>  
        </div>
    </div>
</div>
        {{ test_data }}
             
        <div class="card">
            <div class="transactions-list-container panel panel-default">
                <table class="table table-hover table-striped small">
                    <thead>
                        <tr class="green-color">
                            <th scope="col"><input type="checkbox"></th>
                            <th></th>
                            <th scope="col">Дата</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Категория</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Счет</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for costs in data %}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>
                                    <button type="button" class="btn btn-outline-secondary btn-edit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                </td>
                                <td>{{ costs['date'].strftime('%d-%m-%Y') }}</td>
                                <td>{{costs['amount']}}</td>
                                <td>{{costs['category']['parent_category']['name']}}</td>
                                <td>{{costs['category']['name']}}</td>
                                <td>{{costs['account']['users']['username']}} / {{costs['account']['name']}}</td>
                            </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}